@import '../index.module.scss';

.Menu {
  width: $widthMenu;
  height: 100%;
  background-color: $backgroundColor;

  .Title {
    padding: 35px 0 0 0;
    font-size: 12px;
    text-align: center;
    -webkit-app-region: drag;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }

  .MenuItem {
    display: block;
    position: relative;
    width: $widthMenu;
    height: $widthMenu;
    &:hover {
      background-color: #ffffff22;
    }

    img {
      max-width: 54px;
      max-height: 54px;
      margin: 10px;
    }

    .NotificationsCount {
      position: absolute;
      top: 9px;
      right: 9px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: palevioletred;
    }
  }

  .MenuItemActive {
    background-color: #ffffff22;
  }
}
