@import '../index.module.scss';

.SettingsPage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: $widthMenu;
  background-color: $backgroundColor;
  border-left: 1px solid #ffffff16;
}
