$backgroundColor: #282c34;
$widthMenu: 74px;

body {
  margin: 0;
  font-family: 'Baloo 2', cursive;
  color: #fff;
  background-color: $backgroundColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
